[submodule "examples/AreaChart"]
	path = examples/AreaChart
	url = git@gist.github.com:/b9658ffa431f1ffb8d6b.git
[submodule "examples/CandleStickChart"]
	path = examples/CandleStickChart
	url = git@gist.github.com:/b13b739458e65ff93f4a.git
[submodule "examples/CandleStickStockScaleChart"]
	path = examples/CandleStickStockScaleChart
	url = git@gist.github.com:/1eac0cb78f27b31415ac.git
[submodule "examples/CandleStickChartWithCHMousePointer"]
	path = examples/CandleStickChartWithCHMousePointer
	url = git@gist.github.com:/261fa4bc7b67536eb789.git
[submodule "examples/CandleStickChartWithZoomPan"]
	path = examples/CandleStickChartWithZoomPan
	url = git@gist.github.com:/a8465abe0061df1b7976.git
[submodule "examples/CandleStickChartWithMA"]
	path = examples/CandleStickChartWithMA
	url = git@gist.github.com:/a27298bb7ae613d48ba2.git
[submodule "examples/CandleStickChartWithEdge"]
	path = examples/CandleStickChartWithEdge
	url = git@gist.github.com:/70ea3fe28ad35bf3ed4c.git
[submodule "examples/HaikinAshi"]
	path = examples/HaikinAshi
	url = git@gist.github.com:/51379c24e9751d46dcea.git
[submodule "examples/Kagi"]
	path = examples/Kagi
	url = git@gist.github.com:/d1e5b75ac12f754bb21d.git
[submodule "examples/PointAndFigure"]
	path = examples/PointAndFigure
	url = git@gist.github.com:/d43ef867bead0f1de663.git
[submodule "examples/Renko"]
	path = examples/Renko
	url = git@gist.github.com:/df51fa445c26e123beb9.git
[submodule "examples/CandleStickChartWithMACDIndicator"]
	path = examples/CandleStickChartWithMACDIndicator
	url = git@gist.github.com:/109a2b8021689e1ffc79.git
[submodule "examples/CandleStickChartWithBollingerBandOverlay"]
	path = examples/CandleStickChartWithBollingerBandOverlay
	url = git@gist.github.com:/b993d5fcc5c09dd66a6e.git
[submodule "examples/CandleStickChartWithRSIIndicator"]
	path = examples/CandleStickChartWithRSIIndicator
	url = git@gist.github.com:/78817a1ccf0a450eed0c.git
[submodule "examples/CandleStickChartWithFullStochasticsIndicator"]
	path = examples/CandleStickChartWithFullStochasticsIndicator
	url = git@gist.github.com:/3957c24595cc025eb3ef.git
[submodule "examples/CandleStickChartWithDarkTheme"]
	path = examples/CandleStickChartWithDarkTheme
	url = git@gist.github.com:23dd469fe32d7fc1977c.git
[submodule "examples/CandleStickChartWithClickHandlerCallback"]
	path = examples/CandleStickChartWithClickHandlerCallback
	url = git@gist.github.com:67894a887e52891aa2a3.git
[submodule "examples/CandleStickChartWithBrush"]
	path = examples/CandleStickChartWithBrush
	url = git@gist.github.com:11c28c8e6612055ba8a7.git
[submodule "examples/LineAndScatterChart"]
	path = examples/LineAndScatterChart
	url = git@gist.github.com:/95ffd539fa4e0b4544cf.git
[submodule "examples/BubbleChart"]
	path = examples/BubbleChart
	url = git@gist.github.com:/cb4bb2831987d787a98c.git
[submodule "examples/BarChart"]
	path = examples/BarChart
	url = git@gist.github.com:/b87d124b8879c671f140.git
[submodule "examples/GroupedBarChart"]
	path = examples/GroupedBarChart
	url = git@gist.github.com:/f683b0c93d839ac8af55.git
[submodule "examples/StackedBarChart"]
	path = examples/StackedBarChart
	url = git@gist.github.com:/df6a83dce5fdf71fc73e.git
[submodule "examples/HorizontalBarChart"]
	path = examples/HorizontalBarChart
	url = git@gist.github.com:/d295ab38c94c746aed4e.git
[submodule "examples/HorizontalStackedBarChart"]
	path = examples/HorizontalStackedBarChart
	url = git@gist.github.com:/f8562bad75a7cc9c9343.git
[submodule "examples/CandleStickChartWithForceIndexIndicator"]
	path = examples/CandleStickChartWithForceIndexIndicator
	url = git@gist.github.com:/1741fe3e882f0eb144af.git
[submodule "examples/OHLCChartWithElderRayIndicator"]
	path = examples/OHLCChartWithElderRayIndicator
	url = git@gist.github.com:/0942a5f884a49efa7a14.git
[submodule "examples/OHLCChartWithElderImpulseIndicator"]
	path = examples/OHLCChartWithElderImpulseIndicator
	url = git@gist.github.com:/d26ef33a49317e2841c9.git
[submodule "examples/CandleStickChartWithInteractiveIndicator"]
	path = examples/CandleStickChartWithInteractiveIndicator
	url = git@gist.github.com:/63f666ef1159691d76cc.git
[submodule "examples/CandleStickChartWithFibonacciInteractiveIndicator"]
	path = examples/CandleStickChartWithFibonacciInteractiveIndicator
	url = git@gist.github.com:/82bc46e6566618e429d9.git
[submodule "examples/CandleStickStockScaleChartWithVolumeBarV1"]
	path = examples/CandleStickStockScaleChartWithVolumeBarV1
	url = git@gist.github.com:/88cd65baa331d57caa83.git
[submodule "examples/CandleStickStockScaleChartWithVolumeBarV2"]
	path = examples/CandleStickStockScaleChartWithVolumeBarV2
	url = git@gist.github.com:/0a54ca33b05001f17f8f.git
[submodule "examples/CandleStickStockScaleChartWithVolumeBarV3"]
	path = examples/CandleStickStockScaleChartWithVolumeBarV3
	url = git@gist.github.com:/2dc9dd83567cd41c830a.git
[submodule "examples/CandleStickChartWithCompare"]
	path = examples/CandleStickChartWithCompare
	url = git@gist.github.com:759f1ada33878e3239a5.git